{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2020": true,
        "jest": true,
        "serviceworker": true
    },
    "extends": [
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:react/recommended",
        "plugin:jest/all",
        "plugin:testing-library/react"
    ],
    "overrides": [
        {
            "files": [
                "*.ts",
                "*.tsx"
            ],
            "rules": {
                "semi": "off",
                "indent": "off",
                "@typescript-eslint/explicit-module-boundary-types": [
                    "warn"
                ],
                "@typescript-eslint/semi": [
                    "warn",
                    "never"
                ],
                "@typescript-eslint/indent": [
                    "warn",
                    "tab"
                ]
            }
        }
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "root": true,
    "rules": {
        "@typescript-eslint/explicit-module-boundary-types": "off"
    },
    "settings": {
        "react": {
            "version": "detect"
        }
    }
}