
.container {
    position: relative;
    min-width: 100px;
    min-height: 50px;
    user-select: none;
}

.handleArea {
    position: absolute;
    width: 26px;
    height: 26px;
    margin-left: -13px;
    margin-top: -13px;
    cursor: ns-resize;
    display: flex;
    align-items: center;
    justify-content: center;
}

.handle {
    background-color: black;
    width: 16px;
    height: 16px;
    border-radius: 9999px;
    box-shadow: inset 0 0 0 2px white, 0 0 0 1px #ccc;
}

.selected {
    width: 20px;
    height: 20px;
}
